.mainDiv {
    left: 50%;
    position: relative;
    top: 10%;
    transform: translate(-50%, 0%);
    width: 70%;
    padding-bottom: 15%;
}
.main{
   
    
    width: 100%;
}

.card {
    padding: 5%;
    /* background: linear-gradient(to bottom, #00ccff -296%, #ffffff 80%); */
    background: linear-gradient(to bottom, #8e24aa -296%, #ffffff 80%);
  
     
}
.image{
    align-content: right;
    width: 100%;
    padding-top: 25%;
  
}
.a{
    font-size: 18px;
}
