.mainDiv {
    padding: 2%;
}


.card {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    padding: 3%;
    background: linear-gradient(to bottom, #8e24aa -296%, #ffffff 80%);  
}

span {
    color: red;
    font-size: 75%;
}

