<br>
<h1 style="text-align: center; color: #d81b60">Fleet and Services</h1>

<div class="main ">
    <div class="box">
        <div class="container">
             <div class="row">
                 
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                        <div class="box-part1  text-center" style="height: 50px;" routerLink="airportFleet">
                                
                            <div class="title">
                                <h1 style="background-color: white">Airport Runs</h1>
                                
                            </div>
    
                            
                        </div>
                    </div>	
    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                   
                            <div class="box-part2  text-center" style="height: 50px;" routerLink="localFleet">
                                    
                                <div class="title">
                                    <h1 style="background-color: white">Local Services</h1>
                                    
                                </div>
                             </div>
                        </div>	
                        
    
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                                <div class="box-part3  text-center" style="height: 50px;" routerLink="tourFleet">
                                        
                                    <div class="title">
                                        <h1 style="background-color: white">ECO Tours</h1>
                                        
                                    </div>
                                 </div>
                            </div>	               
        
            </div>		
        </div>
    </div>
    
</div>

<router-outlet></router-outlet>

