<footer class="page-footer #c2185b pink darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Sri Lanka Largest Taxi Service</h5>
        <p class="grey-text text-lighten-4">Your safety and comfort is our concern</p>

        <div class="row">
            <div class="col-2">
                <img src="/assets/apple.png" style="width: 65%">
              </div>
      
              <div class="col-2">
                <img src="/assets/android.png" style="width: 65%">
              </div>
        </div>

      </div>
      
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <h6 style="text-align: left">© 2019 Copyright <b><a style="color: #ffffff" href=""> kangaroo.cabs.lk</a></b>

      <a href="" class="right" style="margin-left: 2%; color: #ffffff">Terms & Conditions</a>  
      <a href="" routerLink="/feedback"  class="right" style="margin-left: 2%; color: #ffffff">Feedback</a>
      <a href="" routerLink="/privacy" class="right" style="color: #ffffff">Privacy & Policies</a>
    </h6>

    </div>
  </div>
</footer>
    
      