<footer class="page-footer #c2185b pink darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text" style="text-align: center">Sri Lanka Largest Taxi Service</h5>
        <p class="grey-text text-lighten-4" style="text-align: center"><i>Your safety and comfort is our concern</i></p>

        <h2>HEADQUARTERS</h2>
        <p style="color: #e6b75a">No 485 7/A, Gunawardena Mawatha, Wijerama,<br> Nugegoda, Sri Lanka</p>



        <div class="row">
          <div class="col-2">

            <a href="https://apps.apple.com/lk/app/kangaroo-cabs-2588588/id1166543666">
              <img src="/assets/apple.png" style="width: 65%">
            </a>
          </div>

          <div class="col-2">
            <a href="https://play.google.com/store/apps/details?id=kangaroo.lk.clientapp&hl=en">
              <img src="/assets/android.png" style="width: 65%">
            </a>
          </div>

        </div>

      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <h6 style="text-align: left">© 2019 Copyright <b><a style="color: #ffffff" href=""> kangaroo.cabs.lk</a></b>

        <a href="" routerLink="/faq" class="right" style="margin-left: 2%; color: #ffffff">FAQ</a>
        <a href="" routerLink="/terms" class="right" style="margin-left: 2%; color: #ffffff">Terms & Conditions</a>
        <a href="" routerLink="/feedback" class="right" style="margin-left: 2%; color: #ffffff">Feedback</a>
        <a href="" routerLink="/privacy" class="right" style="color: #ffffff">Privacy & Policies</a>
      </h6>

    </div>
  </div>
</footer>