<div class="mainDiv">
        <div class="row">
                
                <div class="col s12 m7">
                  <div class="card">
                        <span class="card-title" style="color: #d81b60">Kangaroo Cabs <b>Airport</b> Transfers</span>
                    <div class="card-image">
                      <img src="assets/airport_img_1.png" style="width: 80%">
                      
                    </div>
                    <div class="card-content">
                      <p>Kangaroo Cabs offer the lowest rates in airport transfers in Colombo, 
                          Sri Lanka to any 
                          destination in the island for travelers who arrive at 
                          Bandaranayaka International Airport.</p>
                          <br>

                       <p><b>Our exclusive Airport Pickup Package of LKR 1,750.00 covers 
                           from Bandaranayaka International Airport to Colombo 1-15</b></p> 
                           <br> 

                       <p><b>Kangaroo Cabs offer attractive rates for airport drops from Colombo 1 - 15 
                           to Bandaranayaka International Airport.</b></p>
                           <br>

                       <p>We arrange airport drops from any destination in the island contact 
                           us and we will create a customized Airport Transfer Package for you.</p>
                           <br>
                           <h4 style="color: #ffab00"><b>bookings@2588588.com</b></h4>
                           <br>    

                       <p>We are much popular for our exclusive Airport Transfers and Airport Pickups, 
                           we have earned our name as the most reliable taxi service provider forAirport
                            transfers in Sri Lanka by emphasizing in technology and communication, which 
                            ensures timely services lor both Airport Pick up and Airport drop services in
                             Sri Lanka.</p> 
                    </div>
                    <div class="card-action">
                      <a href="https://kangaroocabs.com/">Official Site</a>
                    </div>
                  </div>
                </div>
              </div>
</div>
