<div class="mainDiv">
    <div class="row">

        <div class="col s12 card">
            <div class="col s6">
                <div class="card">
    
                    <h2 style="color: #d81b60">Terms & Conditions</h2>
    
                    <div class="card-image">
                        <img src="assets/terms.png" style="width: 100%">
    
                    </div>
                    <div class="card-content">
                        <h3>Advice & Charge of Use</h3>
                        <p style="color: #78909c">Your access to and use of Kangaroo Cabs is subject exclusively to
                            these Terms and Conditions. This Terms and Conditions presents the "General Conditions"
                            applicable to the use of services offered by Kangaroo cabs, either through the site Kangaroo
                            Cabs, application software for mobile phone handset (app) or phone (in addition to the "Website"
                            ).
                            You will not use the Website for any purpose that is unlawful or prohibited by these Terms and
                            Conditions.
                            By using the Website you are fully accepting the terms, conditions and disclaimers contained in
                            this notice.
                            If you do not accept these Terms and Conditions you must immediately stop using the Website and
                            do not use.
                            These Terms expressly supersede prior agreements or arrangements with you.</p>
    
                        <br>
                        <h4 style="color: #ffab00"><b>bookings@2588588.com</b></h4>
                        <br>
    
                        <h5 style="color: #d81b60">General Inquiries</h5>
                        <p style="color: #78909c">+94 112 596 314</p>
                        <br>
                    </div>
                    <div class="card-action">
                        <a href="https://kangaroocabs.com/">Official Site</a>
                    </div>
                </div>
            </div>
    
            <div class="col-6">
    
                <div class="card-content">
                    <h3 style="color: #d81b60">License</h3>
                    <p style="color: #000000">Subject to your compliance with these Terms, Kangaroo Cabs grants you a
                        limited, non-exclusive, non-sublicensable, revocable, non-transferable license to: (i) access
                        and use the Applications on your personal device solely in connection with your use of the
                        Services; and (ii) access and use any content, information and related materials that may be
                        made available through the Services, in each case solely for your personal, noncommercial use.
                        Any rights not expressly granted herein are reserved by Kangaroo Cabs and Kangaroo Cabs
                        licensors. </p>
    
                    <br>
                </div>
    
    
                <div class="card-image">
                    <div class="card-content">
                        <h3 style="color: #d81b60">Copyright</h3>
                        <p style="color: #000000">All copyright, trade marks and all other intellectual property rights in
                            the Website and its content (including without limitation the Website design, text, graphics and
                            all software and source codes connected with the Website) are owned by or licensed to Kangaroo
                            Cabsor otherwise used byKangaroo Cabs as permitted by law. In accessing the Website you agree
                            that you will access the content solely for your personal, non-commercial use.</p>
    
                        <br>
                    </div>
                </div>
    
                <div class="card-image">
                    <div class="card-content">
                        <h3 style="color: #d81b60">Disclaimers and Limitation of Liability</h3>
                        <p style="color: #000000">The Website is provided on an AS IS and AS AVAILABLE basis without any
                            representation or endorsement made and without warranty of any kind whether express or implied,
                            including but not limited to the implied warranties of satisfactory quality, fitness for a
                            particular purpose, non-infringement, compatibility, security and accuracy.</p>
    
                        <br>
                    </div>
                </div> 
    
                <div class="card-image">
                    <img src="assets/terms2.jpg" style="width: 100%">
                </div>
            </div>
        </div>

    </div>
</div>