<div class="mainDiv">
  <div class="row">

    <div class="col s12 m7">
      <div class="card">
        <span class="card-title" style="color: #d81b60">Kangaroo Cabs <b>Local</b> Services</span>
        <div class="card-image">
          <img src="assets/local2.jpg" style="width: 100%">

        </div>
        <div class="card-content">
          <p>Developed with modern technology, Kangaroo cabs phone app uses GPS to
            identify the customer location and connects the customer with the nearest
            available driver. The booking will be confirmed immediately and will be
            informed to the customer via a SMS.</p>
          <br>

          <p><b>Updated live booking information facilitates the customer to access
              the status of the hire, Cab location, driver phone number and plate number of the car.</b></p>
          <br>

          <p><b>This feature enables the customer to save frequently used locations
              as favorite locations thus making it even easier to place a booking.</b></p>
          <br>

          <p>With accurate GPS detection the Kangaroo Phone app traces all the popular locations near you.
            Over 1000 popular locations are updated and the list keeps adding up. </p>
          <br>
          <h4 style="color: #ffab00"><b>bookings@2588588.com</b></h4>
          <br>

          <h5 style="color: #d81b60">1. Easy Booking</h5>
          <p style="color: #78909c">Enter Pickup and Drop location to get your cab and estimated fare details</p>
          <br>

          <h5 style="color: #d81b60">2. Get your cab</h5>
          <p style="color: #78909c">Kangaroo Cabs will find you the nearest available Cab</p>
          <br>

          <h5 style="color: #d81b60">3. Track Your Cab</h5>
          <p style="color: #78909c">Know your Cab's location and estimated time of arrival in real-time</p>
          <br>


        </div>
        <div class="card-action">
          <a href="https://kangaroocabs.com/">Official Site</a>
        </div>
      </div>
    </div>
  </div>
</div>