<div>

	<h2 style="text-align: center; margin-top: 2%; color:#d81b60"><i>Tell us about your experience</i>
	</h2>


	<div class="row">

		<div class="col-xl-6">
			<img src="/assets/feedback.png" style="width: 75%; margin-left: 15%">
		</div>

		<div class="col-xl-6">

			<div class="card card2">
				<form style="padding: 5%" [formGroup]="form">
					<h1 style="color: #d81b60">Get in Touch</h1>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="first_name" style="color: rgb(146, 8, 15)">First Name</label>
							<input id="first_name" type="text" class="form-control" formControlName="fname" placeholder="First Name">
						</div>
						<div class="form-group col-md-6">
							<label for="last_name" style="color: rgb(146, 8, 15)">Last Name</label>
							<input id="last_name" type="text" class="form-control" formControlName="lname" placeholder="Last Name">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label for="first_name" style="color: rgb(146, 8, 15)">Email</label>
							<input id="first_name" type="email" class="form-control" formControlName="email" placeholder="Your email">
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<div class="row">
								<div class="input-field col s12">
									<label for="autocomplete-input" style="color: rgb(146, 8, 15)">Enter Your
										Message</label>
									<input type="text" id="autocomplete-input" class="form-control" formControlName="message" placeholder="Your Message">
								</div>
							</div>
						</div>
					</div>
					<br>
					<br>

					<div class="row">
						<button type="button" class="btn btn-info" style="width: 20%"
							(click)="buttonClear()"><b>Clear</b></button>
						&nbsp;
						<button type="button" class="btn btn-success" style="width: 79%"><b>Confirm
								Booking</b></button>
					</div>

				</form>


			</div>
			<br>
			<br>

		</div>

	</div>
</div>