<div class="row">

        <div class="col-xl-6 card1">
				<div class="row">
						<div class="">
							<p>Service of Kangaroo cabs</p>
						</div>
						
						<div class="rate">
										<input type="radio" id="star5" name="rate" value="5" />
										<label for="star5" title="text">5 stars</label>
										<input type="radio" id="star4" name="rate" value="4" />
										<label for="star4" title="text">4 stars</label>
										<input type="radio" id="star3" name="rate" value="3" />
										<label for="star3" title="text">3 stars</label>
										<input type="radio" id="star2" name="rate" value="2" />
										<label for="star2" title="text">2 stars</label>
										<input type="radio" id="star1" name="rate" value="1" />
										<label for="star1" title="text">1 star</label>
						</div>
						
					</div>
					
					<div class="row">
							<div class="">
								<p>Service of Kangaroo cabs</p>
							</div>
							
							<div class="rate">
											<input type="radio" id="star5" name="rate" value="5" />
											<label for="star5" title="text">5 stars</label>
											<input type="radio" id="star4" name="rate" value="4" />
											<label for="star4" title="text">4 stars</label>
											<input type="radio" id="star3" name="rate" value="3" />
											<label for="star3" title="text">3 stars</label>
											<input type="radio" id="star2" name="rate" value="2" />
											<label for="star2" title="text">2 stars</label>
											<input type="radio" id="star1" name="rate" value="1" />
											<label for="star1" title="text">1 star</label>
							</div>
							
						</div>
					
						<div class="row">
								<div class="">
									<p>Service of Kangaroo cabs</p>
								</div>
								
								<div class="rate">
												<input type="radio" id="star5" name="rate" value="5" />
												<label for="star5" title="text">5 stars</label>
												<input type="radio" id="star4" name="rate" value="4" />
												<label for="star4" title="text">4 stars</label>
												<input type="radio" id="star3" name="rate" value="3" />
												<label for="star3" title="text">3 stars</label>
												<input type="radio" id="star2" name="rate" value="2" />
												<label for="star2" title="text">2 stars</label>
												<input type="radio" id="star1" name="rate" value="1" />
												<label for="star1" title="text">1 star</label>
								</div>
								
							</div>
					
							<div class="row">
									<div class="">
										<p>Service of Kangaroo cabs</p>
									</div>
									
									<div class="rate">
													<input type="radio" id="star5" name="rate" value="5" />
													<label for="star5" title="text">5 stars</label>
													<input type="radio" id="star4" name="rate" value="4" />
													<label for="star4" title="text">4 stars</label>
													<input type="radio" id="star3" name="rate" value="3" />
													<label for="star3" title="text">3 stars</label>
													<input type="radio" id="star2" name="rate" value="2" />
													<label for="star2" title="text">2 stars</label>
													<input type="radio" id="star1" name="rate" value="1" />
													<label for="star1" title="text">1 star</label>
									</div>
									
								</div>

        </div>
      
        <div class="col-xl-6">
          
          <div class="card">
              <form style="padding: 5%">
                  <h1 style="color: #d81b60">Quick Booking</h1>

                  <div class="row">

                      <div class="input-field col s6">
                        <input id="first_name" type="text">
                        <label for="first_name">First Name</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="last_name" type="text">
                        <label for="last_name">Last Name</label>
                      </div>
                  </div>

                    <div class="row">
                        <div class="input-field col s6">
                          <input placeholder="" id="first_name" type="date">
                          <label for="first_name">Pickup Date</label>
                        </div>
                        <div class="input-field col s6">
                          <input placeholder="" id="last_name" type="time">
                          <label for="last_name">Pickup Time</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="telephone" type="text">
                            <label for="last_name">Telephone (+94)</label>
                          </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                          <input id="first_name" type="email">
                          <label for="first_name">Email</label>
                        </div>
                    </div>  

                    <div class="row">
                        <button type="button" class="btn btn-success col s12"><b>Confirm Booking</b></button>
                    </div>
                    
                </form>
          </div>

        </div>
 
</div>















