<h3 style="color: #000000" style="text-align: center; margin-top: 2%"><i>Your feedback is welcome.</i></h3>
<div class="row">

	

	<div class="col-xl-6" style="padding: 10%">
		
		<div class="card1">
			<table class="table table-borderless">
				<h2 style="color: #d81b60">Rate Us!</h2>
				<tbody>
					<tr>
						<td>Your Last Trip</td>
						<td>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
						</td>
					</tr>
					<tr>
						<td>Your Last Trip Vehicle</td>
						<td>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</td>
					</tr>
					<tr>
						<td>Your Last Trip Driver</td>
						<td>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star "></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</td>
					</tr>
					<tr>
						<td>Kangaroo cab Web Site</td>
						<td>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-outline-success col s4 right"><b>Rate</b></button>
		</div>
	</div>

	<div class="col-xl-6">

		<div class="card card2">
			<form style="padding: 5%">
				<h1 style="color: #d81b60">Get in Touch</h1>
				<p style="color: #ffab00">We would love to hear from you</p>

				<div class="row">
					<div class="input-field col s6">
						<input id="first_name" type="text">
						<label for="first_name">First Name</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<input id="last_name" type="text">
						<label for="last_name">Last Name</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<input id="first_name" type="email">
						<label for="first_name">Email</label>
					</div>
				</div>


				<div class="row">
					<div class="col s12">
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="autocomplete-input" class="autocomplete">
								<label for="autocomplete-input">Enter Your Message</label>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<button type="button" class="btn btn-success col s12"><b>Send Message</b></button>
				</div>

			</form>


		</div>
		<br>
		<br>

	</div>

</div>