.card {
    top: 3%;
    width: 65%;
    /* background: linear-gradient(to bottom, #00ccff -296%, #ffffff 80%); */
    background: linear-gradient(to bottom, #8e24aa -296%, #ffffff 80%);
}


.img01   {
    cursor: pointer;
    background-color: rgb(236, 236, 171);
}

.click {
    cursor: pointer;
}

span {
    color: red;
    font-size: 75%;
}

/* .click :hover {
    border: 1px solid #ddd;
} */