
  <nav class="#c2185b pink darken-2">
    <div class="nav-wrapper">
      <img src="/assets/logo1.png" style="width: 3%">
      <a routerLink="/mainUi" class="brand-logo">KANGAROO</a>
      <!-- <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">HOME</i></a> -->
      <ul class="right hide-on-med-and-down">
        <li><a >Mobile App</a></li>
        <li><a >Tour Packages</a></li>
        <li><a >Airport Transfers</a></li>
        <li><a routerLink="/fleet">Our Fleet</a></li>
        <li><a >Manage Booking</a></li>
        <li><a >Contact Us</a></li>
        <li><a routerLink="/register" class="cyan waves-effect btn">Register</a></li>
        <li><a routerLink="/login" class="#00bcd4 cyan waves-effect btn">Login</a></li>
      </ul>
    </div>
  </nav>

  <!-- <ul class="sidenav" id="mobile-demo">
        <li><a >Mobile App</a></li>
        <li><a >Tour Packages</a></li>
        <li><a >Airport Transfers</a></li>
        <li><a routerLink="/fleet">Our Fleet</a></li>
        <li><a >Manage Booking</a></li>
        <li><a >Contact Us</a></li>
        <li><a routerLink="/register" class="waves-effect waves-light btn">Register</a></li>
        <li><a routerLink="/login" class="waves-effect waves-light btn">Login</a></li>
  </ul> -->
          