<div class="mainDiv">
    <div class="row">

        <div class="col s12 m7">
            <div class="card">
                <h2 style="color: #d81b60"><b>Frequently Asked Questions</b></h2>

                <div class="jumbotron">
                    <h1 class="display-4">Where will the cab pick me from?</h1>
                    <p class="lead">If you only provide a mobile number our chauffeur will pick you at the arrivals
                        exit, if you choose name board option he would pick you from the arrivals lounge by displaying
                        your name board.</p>
                    <hr class="my-4">
                    <button type="button" class="btn btn-light" style="color: #d81b60">Lern More</button>
                </div>

                <div class="jumbotron">
                    <h1 class="display-4">My flight is delayed?</h1>
                    <p class="lead">On arrival, we received a quote from a London black cab for £85-90 to North London.
                        This would normally be an excessive expense for us, but as it was 12.30am we took the taxi in
                        order to get home quickly.</p>
                    <hr class="my-4">
                    <button type="button" class="btn btn-light" style="color: #d81b60">Lern More</button>
                </div>

                <div class="jumbotron">
                    <h1 class="display-4">I don’t have a roaming number?</h1>
                    <p class="lead">If anybody has any suggestions on alternative channels for proceeding with this, it
                        would be much appreciated. I have already considered raising it with the CAA.</p>
                    <hr class="my-4">
                    <button type="button" class="btn btn-light" style="color: #d81b60">Lern More</button>
                </div>

                <div class="jumbotron">
                    <h1 class="display-4">Is highway charges included?</h1>
                    <p class="lead">Rent a Hybrid Car with a Driver ??? Yes, Per Day Charge will be US$ 45.00 (Including
                        Driver Fee/Accommodation/Meals/Fuel/Highway Chargers + Parking Fee + 150Kms per Day) </p>
                    <hr class="my-4">
                    <button type="button" class="btn btn-light" style="color: #d81b60">Lern More</button>
                </div>

            </div>
        </div>
    </div>
</div>