<div class="mainDiv">
    <div class="row">
            
            <div class="col s12 m7">
              <div class="card">
                    
                    <h2 style="color: #d81b60">Privacy & Policies</h2>
                    
                <div class="card-image">
                  <img src="assets/privacy.jpg" style="width: 100%">
                  
                </div>
                <div class="card-content">
                  <h3>WHAT THIS PRIVACY POLICY COVERS</h3>
                  <p style="color: #78909c">This policy covers how <b>Kangaroo Cabs</b> treats personal information that the Company 
                    collects and receives. Personal information is information about you that is personally 
                    identifiable like your name, address, email address, or phone number, and that is not 
                    otherwise publicly available. By using this website, you consent to the collection and
                     use of your information as discussed in this section.</p>
                   <p style="color: #78909c">This policy does not apply to the practices of companies that the Company does not own or control,
                      or to people that the Company does not employ or manage.</p>  
                      <br>

                  <h3>INFORMATION COLLECTION AND USE</h3>
                   <p style="color: #78909c">The Company collects personal information when you provide such information to the Company, 
                     when you visit the Company pages or the pages of certain of the Company’s partners, and when
                      you enter promotions or sweepstakes. The Company may combine information about you that we 
                      have with information we obtain from business partners or other companies.</p>
                       <br>

                   <h3>CONFIDENTIALITY AND SECURITY</h3>
                   <p style="color: #78909c">We limit access to personal information about you to trusted partners and contractors who 
                     we believe reasonably need to come into contact with that information to provide products or 
                     services to you or in order to do their jobs.</p>
                       <br>
                       <h4 style="color: #ffab00"><b>bookings@2588588.com</b></h4>
                       <br>    

                   <h5 style="color: #d81b60">General Inquiries</h5>
                   <p style="color: #78909c">+94 112 596 314</p>
                    <br>
                </div>
                <div class="card-action">
                        <a href="https://kangaroocabs.com/">Official Site</a>
                </div>
              </div>
            </div>
          </div>
</div>


