<div class="mainDiv">
        <div class="card">
            
      <div class="row">
            
            <form class="col s12">
                    <h1 style="color: #d81b60">Login Here</h1>
              <div class="row">
                    <div class="input-field col s12">
                            <input id="email" type="email">
                            <label for="last_name">Email</label>
                    </div>
              </div>
    
              
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate">
                  <label for="email">Password</label>
                </div>
              </div>

              <p>
                  <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Remember Password</span>
                  </label>
                </p>
    
              <div class="row">
                    <button type="button" class="btn btn-success col s12"><b>Login</b></button>
                </div>
    
    
            </form>
          </div>
                
        </div>
    </div>